<h2>Edit Author</h2>

<form action="/authors/<%= id %>?_method=PUT" method="POST" class="edit-author-form">
    <%- include("../partials/errorMsg.ejs") %>
    <%- include("./_form-feilds.ejs") %>

    <button type="submit">Edit</button>
    <a href="/authors">Cancel</a>
</form>